<form class="auth-form login-form"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()">
  <h2>{{'AUTH.LOGIN_TITLE' | translate}}</h2>

  <div class="auth-form__field">
    <label for="email">{{'AUTH.INPUTS.EMAIL' | translate}}</label>
    <input
      type="text"
      name="email"
      formControlName="email"
      maxlength="31">
  </div>
  <div class="auth-form__error">
    <ng-container
      *ngIf="email.invalid
      && (email.touched
      || email.dirty)">
      <p
        *ngIf="email.errors?.['required']">
        {{'AUTH.VALIDATE.EMAIL_REQUIRED' | translate}}
      </p>
      <p
        *ngIf="email.errors?.['email']">
        {{'AUTH.VALIDATE.EMAIL_VALID_EMAIL' | translate}}
      </p>
    </ng-container>
  </div>

  <div class="auth-form__field">
    <label for="password">{{'AUTH.INPUTS.PASSWORD' | translate}}</label>
    <input
      type="text"
      name="password"
      formControlName="password"
      maxlength="31">
  </div>
  <div class="auth-form__error">
    <ng-container
      *ngIf="password.invalid
      && (password.touched
      || password.dirty)">
      <p
        *ngIf="password.errors?.['required']">
        {{'AUTH.VALIDATE.PASSWORD_REQUIRED' | translate}}
      </p>
    </ng-container>
  </div>

  <div class="auth-form__buttons-wrap">
    <a
      routerLink="/registration">
      {{'AUTH.BUTTONS.REGISTRATION' | translate}}</a>
    <button
      [ngClass]="{'visible': !loginForm.invalid, 'auth-form__buttons-wrap__button': true}"
      type="submit">{{'AUTH.BUTTONS.LOGIN' | translate}}</button>
  </div>
</form>
