<app-development-process-card-description
[currentCard]="currentCard"
></app-development-process-card-description>

<section class="main-info">
  <div class="main-info__about">
    <h2>{{'MAIN.TITLE_APP' | translate}}</h2>
    <h4>{{'MAIN.TITLE_DESCRIPTION' | translate}}</h4>
    <section class="main-info__about__project">
      <div class="main-info__about__project__avatar">
        <img src="assets/main/Mari.png" alt="My photo">
      </div>
      <article class="main-info__about__project__description">
        <p>Привет, меня зовут Маша. Я окончила курс Angular 2022Q1.</p>
        <p>После окончания курса я решила сделать заново финальный таск
          самостоятельно, с небольшими дополнениями и изменениями,</p>
        <p>Процесс создания приложения, пояснение к процессам, трудности, -- вы
          можете увидеть ниже.</p>
      </article>
    </section>

  </div>

</section>

<section class="development-process">
  <h2>{{"MAIN.DEVELOPMENT_PROCESS" | translate}}</h2>
  <section class="development-process__cards-wrao">
    <app-development-process-card
    *ngFor="let card of cards"
    [card]="card"
    ></app-development-process-card>
  </section>

</section>
