<header class="header">
  <div class="header__wrap">
    <section class="header__wrap__section-logo">
      <div class="header__wrap__section-logo__logo">
        <img
          src="assets/header/logo.png"
          alt="logo"
          [routerLink]="['/welcome']">
        <p class="header__wrap__section-logo__logo__text">
          <!-- {{'HEADER.YOUR_WAY' | translate}} <br>
          {{'HEADER.TO_SUCCESS' | translate}} -->
          Your Way <br>to Success
        </p>
      </div>
    </section>

    <section>
    </section>

  </div>
</header>
