@import '../../../../vareable';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  @extend %mainGradient;

  .header {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 720px) {
      flex-direction: column;
    }

    &__section-logo-and-nav {
      width: 320px;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;

      &__logo {
        display: flex;
        align-items: flex-end;

        svg {
          width: 70px;
          height: 70px;
          fill: $mainColor;
          cursor: pointer;
          transition: .3s;

          &:hover {
            fill: #A101A6;
          }
        }

        p {
          padding-left: 10px;
        }
      }
    }


    &__section-auth-and-lang {
      width: 320px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;

      &__auth {
        width: 210px;
        display: flex;
        justify-content: space-between;

        button {
          height: 30px;
          padding: 0 10px;
          color: white;
          background: $mainColorDark;
          border: 1px solid white;
          transition: .3s;

          &:hover {
            background: $additionalDark;
            border: 1px solid $additionalColorLight;
          }
        }
      }

      &__lang {
        select {
          height: 26px;
          background: $mainColorDark;
          border: 1px solid white;
          border-radius: 5px;
          color: white;
          font-size: 16px;
        }

      }
    }
  }
}
