@import '../../../../vareable';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  @extend %mainGradient;

  .header {
    max-width: 1200px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;

    &__section-logo {
      display: flex;
      align-items: flex-end;

      svg {
        width: 70px;
        height: 70px;
        fill: $mainColorDark;
        cursor: pointer;
        transition: .3s;

        &:hover {
          fill: $mainColor;
        }
      }

      p {
        padding-left: 10px;
      }
    }
  }
}
