@import '../../../../vareable';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $mainColorLight2;

  .footer {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    @media (max-width: 720px) {
      flex-wrap: wrap;
      padding: 0;
    }

    &__mary {
      a {
        height: 60px;
        display: flex;
        align-items: center;

        @media (max-width: 720px) {
          height: 20px;
        }

        svg {
          width: 50px;
          fill: $mainColor;
          transition: .3s;

          @media (max-width: 720px) {
            display: none;
          }

          &:hover {
            fill: $mainColorDark;
          }
        }

        p {
          margin-left: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__rs-school-logo {
      margin-right: 1rem;

      a {
        svg {
          width: 138.41px;
          height: 50ox;
          fill: $mainColor;

          &:hover {
            fill: $mainColorDark;
          }
        }
      }

      @media (max-width: 720px) {
        transform: scale(0.4);
      }
    }
  }
}
