<section class="board"
  *ngIf="board$ | async as board">
  <section class="board__header">
    <div class="board__header__title">
      <form
        class="board__header__title__form"
        [formGroup]="boardTitleForm">
        <input type="text"
          formControlName="title"
          (focus)="ShowBoardTitleButtpns = true"
          (blur)="hideBoardTitleButtons()"
          >
        <div
          [ngClass]="{'hidden': !ShowBoardTitleButtpns,
          'show': ShowBoardTitleButtpns,
          'board__header__title__form__buttons buttons': true}">
          <button></button>
          <button></button>
        </div>

      </form>
    </div>
  </section>

</section>
