<section class="board"
  *ngIf="board$ | async as board">
  <section class="board__header">
    <div class="board__header__title">
      <form
        class="board__header__title__form__field"
        [formGroup]="boardTitleForm">

        <div class="board__header__title__form__field">
          <input type="text"
            maxlength="33"
            formControlName="title"
            (focus)="ShowBoardTitleButtpns= true"
            (blur)="hideBoardTitleButtons()">
          <div
            [ngClass]="{'hidden': !ShowBoardTitleButtpns,
            'show': ShowBoardTitleButtpns,
            'board__header__title__form__field__buttons buttons': true}">
            <button
              [ngClass]="{
              'blocked': boardTitleForm.invalid,
              'visible': !boardTitleForm.invalid
              }">
              <svg
                viewBox="0 0 27 26">
                <path
                  d="M2,11c4,4.33,8,8.67,12,13c3.67-7.33,7.33-14.67,11-22">
                </path>
              </svg>
            </button>
            <button>
              <svg
                viewBox="0 0 30 30">
                <line x1="24.55" y1="5.45" x2="5.45" y2="24.55"></line>
                <line x1="5.45" y1="5.45" x2="24.55" y2="24.55"></line>
              </svg>
            </button>
          </div>
        </div>
        <div class="board__header__title__form__field-error"
          @showError
          *ngIf="titleControlName.invalid
          && (titleControlName.dirty
          || titleControlName.touched)">
          <p
            class="board__header__title__form__field-error__text"
            *ngIf="titleControlName.errors?.['required']">
            {{'BOARDS.VALIDATE.TITLE_REQUIRED' | translate}}
          </p>
          <p
            class="board__header__title__form__field-error__text"
            *ngIf="titleControlName.errors?.['minlength']">
            {{'BOARDS.VALIDATE.MINLENGTH' | translate}} 3 {{'GENERAL.SYMBOLS' |
            translate}}
          </p>
          <p
            class="board__header__title__form__field-error__text"
            *ngIf="titleControlName.errors?.['maxlength']">
            {{'BOARDS.VALIDATE.MAXLENGTH' | translate}} 32 {{'GENERAL.SYMBOLS' |
            translate}}
          </p>
        </div>
      </form>
    </div>
  </section>

</section>
