$mainColorDark: #469400;
$mainColorLight: #d4ecbf;
$mainColor: #67AB2B;
$additionalColor: #218457;
$additionalColorLight: #61D8A2;
$additionalDark: #00733E;
$gradientDark: #1b9b61;
$gradientLight: #dee7d5;

%mainGradient {
  background: linear-gradient(to right, $gradientLight, $gradientDark);
}
