@import url(reset.scss);
@import 'vareable';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-weight: 300;
  color: $mainColorDark;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

button {
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
}

.visible {
  opacity: 1;
  pointer-events: all;
}
